<% if monster.photo.attached? %>
<div class="monster-card"
          style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path monster.photo.key, height: 300, width: 400, crop: :fit %>')">
          <h1>
            <%= link_to monster.name, monster_path(monster), class: 'text-white monster-card-name' %>
          </h1>
        <!-- End of Card -->
        </div>

<% else %>
<div class="monster-card"
          style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('#')">
          <h1>
            <%= link_to monster.name, monster_path(monster), class: 'text-white monster-card-name' %>
          </h1>
        <!-- End of Card -->
        </div>
<% end %>
