<div class="booking-form-bg">
  <div class="booking-form-left">
    <div class="card" id="add-monster-form">
      <%= render "form" %>
    </div>
  </div>
  <div class="booking-form-txt">
    <h2>Edit Your Monster</h2>
    <p>Things change, we know!<br>Monsters grow up and become their own monster and have monsters of their own.<br>Change their details here</p>
  </div>
</div>

