<div class="booking-form-bg">
  <div class="booking-form-left">
    <div class="card" id="add-monster-form">
      <%= render "form" %>
    </div>
  </div>
  <div class="booking-form-txt">
    <h2>Add Your Monster</h2>
    <p>Fill out the details of your monster so everyone can fulfill their monster needs</p>
  </div>
</div>
